<?xml version="1.0" ?>
<robot name="ground_plate">
<link name="baseLink">
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>

    <visual>
      <geometry>
        <box size="10 10 -0.01" />
      </geometry>
      <material name="red" />
    </visual>

    <collision>
      <geometry>
        <box size="10 10 -0.01" />
      </geometry>
    </collision>
  </link>
  <joint name="milling_trafo" type="fixed">
		<parent link="baseLink"/>
		<child link="tcp"/>
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	</joint>
    <link name="tcp">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.00000001"/>
       <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
	</link>
</robot>